.wrapper {
    width: 600px;
    
}

#fixed {
    background-color: #eee;
    position: fixed;
    padding: 40px;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
}

#relative {
    background-color: #eee;
    position: relative;
    text-align: center;
    padding: 50px;
}

#absolute {
    background-color: #999;
    position: absolute;
    text-align: center;
    padding: 25px;
}